<%
  const paciente_id = locals.paciente_id || '';
  const start = locals.start || '';
  const end = locals.end || '';
  const medicamento1 = locals.medicamento1 || '';
  const medicamento2 = locals.medicamento2 || '';
  const medicamento3 = locals.medicamento3 || '';
  const principio_activo1 = locals.principio_activo1 || '';
  const principio_activo2 = locals.principio_activo2 || '';
  const principio_activo3 = locals.principio_activo3 || '';
%>


<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/bootstrap-datepicker.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-datepicker.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
        <div id="brand" class="col-xl-2 col-lg-3 col-md-3">
          <a class="navbar-brand" href="/home"><b>PHARMACY</b></a>
          <button style="float: right;" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarColor01" aria-controls="#navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div id="items" class="col-xl-10 col-lg-9 col-md-9">
          <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/consumos_acumulados"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-pills"></i> <b>ACCUMULATED CONSUMPTION</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/dispensacion"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-user-injured"></i> <b>DISPENSATION PROGRAMS</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/actuaciones"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-user-injured"></i> <b>ACTIONS</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/estadisticas"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-chart-bar"></i> <b>STATISTICS</b></a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="row content">
      <div class="col-xl-2 col-lg-3 col-md-3 col-12 patient-filter">
        <div>
          <h2><b>FILTERS</b></h2>
          <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="filterPatientsByUnionRegistrado-tab" data-toggle="tab"
                href="#filterPatientsByUnionRegistrado" role="tab" aria-controls="filterPatientsByUnionRegistrado"
                aria-selected="true"><i style="margin-right: 11px;" class="fas fa-city"></i> <b>BY DRUG/S</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="filterPatientsByNumHistorialFecha-tab" data-toggle="tab"
                href="#filterPatientsByNumHistorialFecha" role="tab" aria-controls="filterPatientsByNumHistorialFecha"
                aria-selected="true"><i style="margin-right: 11px;" class="fas fa-city"></i> <b>BY PATIENT</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="filterPatientsByUnionPrincipioActivoDescripcion-tab" data-toggle="tab"
                href="#filterPatientsByUnionPrincipioActivoDescripcion" role="tab"
                aria-controls="filterPatientsByUnionPrincipioActivoDescripcion" aria-selected="true"><i
                  style="margin-right: 11px;" class="fas fa-city"></i> <b>BY ACTIVE INGREDIENT/S</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="filterPacienteByDate-tab" data-toggle="tab" href="#filterPacienteByDate"
                role="tab" aria-controls="filterPacienteByDate" aria-selected="true"><i style="margin-right: 11px;"
                  class="fas fa-city"></i> <b>PATIENT BREAKDOWN</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="countPacienteByDate-tab" data-toggle="tab" href="#countPacienteByDate" role="tab"
                aria-controls="countPacienteByDate" aria-selected="true"><i style="margin-right: 11px;"
                  class="fas fa-city"></i> <b>TOTAL PACIENTES</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pacienteNuevo-tab" data-toggle="tab" href="#pacienteNuevo" role="tab"
                aria-controls="pacienteNuevo" aria-selected="true"><i style="margin-right: 11px;"
                  class="fas fa-city"></i> <b>NEW PATIENTS</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pacienteNuevo-tab" data-toggle="tab" href="#pacienteNuevo" role="tab"
                aria-controls="pacienteNuevo" aria-selected="true"><i style="margin-right: 11px;"
                  class="fas fa-city"></i> <b>TOTAL NEW PATIENTS</b></a>
            </li>
          </ul>

        </div>
        <hr>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade" id="filterPatientsByUnionRegistrado" role="tabpanel" aria-labelledby="home-tab">
  <form name="formMedicamento" method="GET" action="/dispensacion/filterPatientsByUnionRegistrado">
    
    <label for="medicamento1">Enter the name of the first drug:</label>
    <input list="optionsMedicamentos" id="medicamento1" name="medicamento1" autocomplete="off">

    <label for="medicamento2">Enter the name of the second drug:</label>
    <input list="optionsMedicamentos" id="medicamento2" name="medicamento2" autocomplete="off">

    <label for="medicamento3">Enter the name of the third drug:</label>
    <input list="optionsMedicamentos" id="medicamento3" name="medicamento3" autocomplete="off">

    <!-- Only one datalist for all three inputs -->
    <datalist id="optionsMedicamentos"></datalist>
    
    <!-- Only one script -->
    <script src="scriptMedicamentos.js"></script>
    <script src="/javascripts/autocompleteMedicamentos.js"></script>

    <p></p>
    <div class="input-daterange input-group" id="datepicker">
      <label for="name">Enter date range (YYYY-MM-DD):</label>
      <input type="text" class="input-sm form-control" name="start" required />
      <span class="input-group-addon">to</span>
      <input type="text" class="input-sm form-control" name="end" required />
    </div>

    <p></p>
    <button type="submit" class="btn btn-primary filter-button">Search</button>
  </form>
</div>


          <div class="tab-pane fade" id="filterPatientsByNumHistorialFecha" role="tabpanel" aria-labelledby="home-tab">
            <form name="formHistorial" method="GET" action="/dispensacion/filterPatientsByNumHistorialFecha">
              <label for="name">Enter patient's record number: </label>
              <input type="text" name="paciente_id" id="paciente_id" required></input>
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Enter date range (YYYY-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>
              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterPatientsByNumHistorialFecha()">Search</button>
            </form>
          </div>


          <div class="tab-pane fade" id="filterPatientsByUnionPrincipioActivoDescripcion" role="tabpanel"
            aria-labelledby="home-tab">
            <form name="formUnionPrincipioActivo" method="GET"
              action="/dispensacion/filterPatientsByUnionPrincipioActivoDescripcion">
              <label for="name">Enter the name of the first active ingredient:</label>
              <input list="optionsPrincipiosActivos" id="principio_activo1" name="principio_activo1" autocomplete="off">
              <datalist id="optionsPrincipiosActivos"></datalist>
              <script src="scriptPrincipioActivo.js"></script>
              <label for="name">Enter the name of the second active ingredient:</label>
              <input list="optionsPrincipiosActivos" id="principio_activo2" name="principio_activo2" autocomplete="off">
              <datalist id="optionsPrincipiosActivos"></datalist>
              <script src="scriptPrincipioActivo.js"></script>
              <label for="name">Enter the name of the third active ingredient:</label>
              <input list="optionsPrincipiosActivos" id="principio_activo3" name="principio_activo3" autocomplete="off">
              <datalist id="optionsPrincipiosActivos"></datalist>
              <script src="scriptPrincipioActivo.js"></script>
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Enter date range (YYYY-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" required />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" required />
              </div>

              </fieldset>
              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterPatientsByNombreMedicamento()">Search</button>
            </form>
          </div>

          <div class="tab-pane fade" id="filterPacienteByDate" role="tabpanel" aria-labelledby="home-tab">
            <form name="formHistorial" method="GET" action="/dispensacion/filterPacienteByDate">

              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Enter date range (YYYY-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>
              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterPacienteByDate()">Search</button>
            </form>
          </div>

          <div class="tab-pane fade" id="countPacienteByDate" role="tabpanel" aria-labelledby="home-tab">
            <form name="formHistorial" method="GET" action="/dispensacion/countPacienteByDate">
              <fieldset>
                <div class="form-group">

                  <div class="input-daterange input-group" id="datepicker">
                    <label for="name">Enter date range (YYYY-MM-DD):</label>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" />
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="countPacienteByDate()">Count</button>
            </form>
          </div>

          <div class="tab-pane fade" id="pacienteNuevo" role="tabpanel" aria-labelledby="home-tab">
            <form name="formMedicamento" method="GET" action="/dispensacion/pacienteNuevo">
              <fieldset>
                <div class="form-group">

                  <div class="input-daterange input-group" id="datepicker">
                    <label for="name">Enter date range (YYYY-MM-DD):</label>
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" />
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-primary filter-button" onclick="pacienteNuevo()">Count</button>
            </form>
          </div>

          <div class="tab-pane fade" id="countPacienteNuevoByDate" role="tabpanel" aria-labelledby="home-tab">
            <form name="countPacienteNuevoByDate" method="GET" action="/dispensacion/countPacienteNuevoByDate">
              <fieldset>
                <div class="form-group">
                  <div class="input-daterange input-group" id="datepicker">
                    <label for="name">Enter date range (YYYY-MM-DD):</label>
                    <input type="text" class="input-sm form-control" name="start" required />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" required />
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="countPacienteNuevoByDate()">Count</button>
            </form>
          </div>







        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-9 col-sm-12">

        <div class="row content-info">
<div class="page-header">
  <h1 id="tables">DISPENSATION PROGRAMS</h1>

  <form action="/dispensacion/export" method="GET" style="margin-bottom: 10px;">
    <input type="hidden" name="paciente_id" value="<%= paciente_id || '' %>"/>
    <input type="hidden" name="start" value="<%= start || '' %>"/>
    <input type="hidden" name="end" value="<%= end || '' %>"/>
    <input type="hidden" name="medicamento1" value="<%= medicamento1 || '' %>"/>
    <input type="hidden" name="medicamento2" value="<%= medicamento2 || '' %>"/>
    <input type="hidden" name="medicamento3" value="<%= medicamento3 || '' %>"/>
    <input type="hidden" name="principio_activo1" value="<%= principio_activo1 || '' %>"/>
    <input type="hidden" name="principio_activo2" value="<%= principio_activo2 || '' %>"/>
    <input type="hidden" name="principio_activo3" value="<%= principio_activo3 || '' %>"/>
    <button type="submit" class="btn btn-success">Export CSV</button>
  </form>
</div>
          <table class="table table-hover">
            <thead class="bg-secondary">
              <tr>


                <th scope="col">cab_e_s_id</th>
                <th scope="col">paciente_id</th>
                <th scope="col">paciente_nombre_completo</th>
                <th scope="col">programa_dispensacion_id</th>
                <th scope="col">programa_dispensacion_descripcion</th>
                <th scope="col">especialidad_id</th>
                <th scope="col">dosis</th>
                <th scope="col">tipo_dosis</th>
                <th scope="col">cantidad</th>
                <th scope="col">frecuencia_id</th>
                <th scope="col">fecha_inicio</th>
                <th scope="col">fecha_fin</th>
                <th scope="col">total_dias</th>
                <th scope="col">nombre_medicamento</th>
                <th scope="col">gfh_id</th>
                <th scope="col">gfh_descripcion</th>
                <th scope="col">medico_id</th>
                <th scope="col">medico_nombre_completo</th>
                <th scope="col">precio_unidad_pvf_m</th>
              </tr>
            </thead>
            <tbody>
              <% if (dispensacion && dispensacion.length> 0) { %>
                <% dispensacion.forEach(function(item) { %>
                  <tr class="click-row" href="/dispensacion/<%= item._id %>">

                    <td>
                      <%= item.cab_e_s_id %>
                    </td>
                    <td>
                      <%= item.paciente_id %>
                    </td>
                    <td>
                      <%= item.paciente_nombre_completo%>
                    </td>
                    <td>
                      <%= item.programa_dispensacion_id%>
                    </td>
                    <td>
                      <%= item.programa_dispensacion_descripcion %>
                    </td>
                    <td>
                      <%= item.especialidad_id %>
                    </td>
                    <td>
                      <%= item.dosis %>
                    </td>
                    <td>
                      <%= item.tipo_dosis %>
                    </td>
                    <td>
                      <%= item.cantidad %>
                    </td>
                    <td>
                      <%= item.frecuencia_id %>
                    </td>
                    <td>
                      <%= item.fecha_inicio ? (new Date(item.fecha_inicio)).toISOString().substring(0,10) : '' %>
                    </td>
                    <td>
                      <%= item.fecha_fin ? (new Date(item.fecha_fin)).toISOString().substring(0,10) : '' %>
                    </td>
                    <td>
                      <%= item.total_dias %>
                    </td>
                    <td>
                      <%= item.nombre_medicamento %>
                    </td>
                    <td>
                      <%= item.gfh_id %>
                    </td>
                    <td>
                      <%= item.gfh_descripcion %>
                    </td>
                    <td>
                      <%= item.medico_id %>
                    </td>
                    <td>
                      <%= item.medico_nombre_completo %>
                    </td>
                    <td>
                      <%= item.precio_unidad_pvf_m %>
                    </td>
                  </tr>
                  <% }); %>
                    <% } else { %>
                      <tr>
                        <td colspan="20">No data available</td>
                      </tr>
                      <% } %>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  $(document).ready(function () {


    $(".pacient-alert").fadeOut({ duration: 3000 });

    $('div.input-daterange').datepicker({
      format: 'yyyy-mm-dd'
    });
  });
</script>

</html>