<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/bootstrap-datepicker.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-datepicker.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

  <div class="container-fluid">


    <div class="row">
      <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
        <div id="brand" class="col-xl-2 col-lg-3 col-md-3">
          <a class="navbar-brand" href="/inicio"><b>PHARMACY</b></a>
          <button style="float: right;" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div id="items" class="col-xl-10 col-lg-9 col-md-9">
          <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/dispensacion"><i style="margin-right: 15.5px; margin-left: 5px;"
                    class="fas fa-user-injured"></i> <b>DISPENSATION PROGRAMS</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/actuaciones"><i style="margin-right: 15.5px; margin-left: 5px;"
                    class="fas fa-user-injured"></i> <b>ACTIONS</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/estadisticas"><i style="margin-right: 15.5px; margin-left: 5px;"
                    class="fas fa-chart-line"></i> <b>STATISTICS</b></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="row content">
      <div class="col-xl-2 col-lg-3 col-md-3 col-12 patient-filter">
        <div>
          <h2><b>FILTERS</b></h2>
          <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="filterConsumoByUnionRegistrado-tab" data-toggle="tab"
                href="#filterConsumoByUnionRegistrado" role="tab" aria-controls="filterConsumoByUnionRegistrado"
                aria-selected="true"><i style="margin-right: 11px;" class="fas fa-city"></i> <b>BY DRUG/S</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="filterConsumoByUnionPrincipioActivoDescripcion-tab" data-toggle="tab"
                href="#filterConsumoByUnionPrincipioActivoDescripcion" role="tab"
                aria-controls="filterConsumoByUnionPrincipioActivoDescripcion" aria-selected="true"><i
                  style="margin-right: 11px;" class="fas fa-city"></i> <b>BY ACTIVE PRINCIPAL/S</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="filterDosisByNombreMedicamento-tab" data-toggle="tab"
                href="#filterDosisByNombreMedicamento" role="tab" aria-controls="filterDosisByNombreMedicamento"
                aria-selected="true"><i style="margin-right: 11px;" class="fas fa-city"></i> <b>ITEMS BY DRUG
                </b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="filterConsumosByNumHistorialFecha-tab" data-toggle="tab"
                href="#filterConsumosByNumHistorialFecha" role="tab" aria-controls="filterConsumosByNumHistorialFecha"
                aria-selected="true"><i style="margin-right: 11px;" class="fas fa-city"></i> <b>BY PATIENT</b></a>
            </li>
          </ul>
        </div>
        <hr>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade" id="filterConsumoByUnionRegistrado" role="tabpanel" aria-labelledby="home-tab">

            <form name="formMedicamentoConsumo" method="POST"
              action="/consumos_acumulados/filterConsumoByUnionRegistrado">
              <label for="name">Insert the name of the first drug:</label>
              <input type="text" id="medicamento1" name="medicamento1" class="form-control" placeholder="..."
                autocomplete="off">
              <label for="name">Insert the name of the second drug:</label>
              <input type="text" id="medicamento2" name="medicamento2" class="form-control" placeholder="..."
                autocomplete="off">
              <label for="name">Insert the name of the third drug:</label>
              <input type="text" id="medicamento3" name="medicamento3" class="form-control" placeholder="..."
                autocomplete="off">
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Enter the date range (AAAA-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">a</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>
              <p></p>
              <label><b>Filter by GFH:</b></label>
              <div class="gfh-filter-container">
                <div class="gfh-select-all">
                  <label class="gfh-checkbox">
                    <input type="checkbox" id="selectAll1" onclick="toggleAllGFH('formMedicamento')"> Select all
                  </label>
                </div>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="VASDP"> VASDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="URODP"> URODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="URGDP"> URGDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UDODP"> UDODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UCPDP"> UCPDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UCPAD"> UCPAD</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="TRADP"> TRADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="SALDP"> SALDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="REUDP"> REUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="REHDP"> REHDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PSIDP"> PSIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PRIDP"> PRIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PEX"> PEX</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PEDDP"> PEDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ORLDP"> ORLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ORADP"> ORADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ONCDP"> ONCDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ONCC"> ONCC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="OFTDP"> OFTDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NRLDP"> NRLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NMLDP"> NMLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NFRDP"> NFRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NFRC"> NFRC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NEFDP"> NEFDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MPRDP"> MPRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MINDP"> MINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MAXDP"> MAXDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="INMDP"> INMDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HHEST"> HHEST</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HFUEN"> HFUEN</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HEMDP"> HEMDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HEMD"> HEMD</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GINDP"> GINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GERDP"> GERDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GAUDP"> GAUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GATDP"> GATDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASH"> GASH</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASDP"> GASDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASC"> GASC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="FIQI"> FIQI</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="FIQDP"> FIQDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ENDDP"> ENDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="EINDP"> EINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="EINC"> EINC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DNUDP"> DNUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DIRDP"> DIRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DILA"> DILA</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DIALC"> DIALC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DERDP"> DERDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CTODP"> CTODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CGDDP"> CGDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CCIDP"> CCIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CCADP"> CCADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAJE"> CAJE</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAIDP"> CAIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAADP"> CAADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA40"> CA40</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA39"> CA39</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA38"> CA38</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA36"> CA36</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA26"> CA26</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA22"> CA22</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA19"> CA19</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA18"> CA18</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA15"> CA15</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA14"> CA14</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA13"> CA13</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA12"> CA12</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA11"> CA11</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA10"> CA10</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA09"> CA09</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA08"> CA08</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA07"> CA07</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA06"> CA06</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA05"> CA05</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA04"> CA04</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA03"> CA03</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA02"> CA02</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA01"> CA01</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ALEDP"> ALEDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ADOM"> ADOM</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ACVDP"> ACVDP</label>
              </div>

              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterConsumoByUnionRegistrado()">Search</button>
            </form>
          </div>

          <div class="tab-pane fade" id="filterConsumoByUnionPrincipioActivoDescripcion" role="tabpanel"
            aria-labelledby="home-tab">
            <form name="formPrincipioActivoConsumo" method="POST"
              action="/consumos_acumulados/filterConsumoByUnionPrincipioActivoDescripcion">
              <label for="name">Insert the name of the first active principle:</label>
              <input type="text" id="principio_activo1" name="principio_activo1" class="form-control" placeholder="..."
                autocomplete="off">
              <label for="name">Insert the name of the second active principle:</label>
              <input type="text" id="principio_activo2" name="principio_activo2" class="form-control" placeholder="..."
                autocomplete="off">
              <label for="name">Insert the name of the third active principle:</label>
              <input type="text" id="principio_activo3" name="principio_activo3" class="form-control" placeholder="..."
                autocomplete="off">
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Insert the date interval(AAAA-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">a</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>
              <p></p>
              <label><b>Filter by GFH:</b></label>
              <div class="gfh-filter-container">
                <div class="gfh-select-all">
                  <label class="gfh-checkbox">
                    <input type="checkbox" id="selectAll1" onclick="toggleAllGFH('formMedicamento')"> Select all
                  </label>
                </div>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="VASDP"> VASDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="URODP"> URODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="URGDP"> URGDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UDODP"> UDODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UCPDP"> UCPDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UCPAD"> UCPAD</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="TRADP"> TRADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="SALDP"> SALDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="REUDP"> REUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="REHDP"> REHDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PSIDP"> PSIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PRIDP"> PRIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PEX"> PEX</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PEDDP"> PEDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ORLDP"> ORLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ORADP"> ORADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ONCDP"> ONCDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ONCC"> ONCC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="OFTDP"> OFTDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NRLDP"> NRLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NMLDP"> NMLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NFRDP"> NFRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NFRC"> NFRC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NEFDP"> NEFDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MPRDP"> MPRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MINDP"> MINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MAXDP"> MAXDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="INMDP"> INMDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HHEST"> HHEST</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HFUEN"> HFUEN</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HEMDP"> HEMDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HEMD"> HEMD</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GINDP"> GINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GERDP"> GERDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GAUDP"> GAUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GATDP"> GATDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASH"> GASH</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASDP"> GASDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASC"> GASC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="FIQI"> FIQI</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="FIQDP"> FIQDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ENDDP"> ENDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="EINDP"> EINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="EINC"> EINC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DNUDP"> DNUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DIRDP"> DIRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DILA"> DILA</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DIALC"> DIALC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DERDP"> DERDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CTODP"> CTODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CGDDP"> CGDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CCIDP"> CCIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CCADP"> CCADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAJE"> CAJE</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAIDP"> CAIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAADP"> CAADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA40"> CA40</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA39"> CA39</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA38"> CA38</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA36"> CA36</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA26"> CA26</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA22"> CA22</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA19"> CA19</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA18"> CA18</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA15"> CA15</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA14"> CA14</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA13"> CA13</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA12"> CA12</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA11"> CA11</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA10"> CA10</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA09"> CA09</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA08"> CA08</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA07"> CA07</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA06"> CA06</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA05"> CA05</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA04"> CA04</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA03"> CA03</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA02"> CA02</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA01"> CA01</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ALEDP"> ALEDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ADOM"> ADOM</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ACVDP"> ACVDP</label>
              </div>

              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterConsumoByUnionPrincipioActivoDescripcion()">Search</button>
            </form>
          </div>


          <div class="tab-pane fade" id="filterDosisByNombreMedicamento" role="tabpanel" aria-labelledby="home-tab">
            <form name="formDosisNombreMedicamento" method="POST"
              action="/consumos_acumulados/filterDosisByNombreMedicamento">
              <label for="name">Insert the name of the drug:</label>
              <input list="options" id="medicamento" name="medicamento" autocomplete="off">
              <datalist id="options"></datalist>
              <script src="scriptMedicamentos.js"></script>
              <script src="/javascripts/autocompleteMedicamentos.js"></script>
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Enter the date range(AAAA-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">a</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>
              <p></p>
              <label><b>Filter by GFH:</b></label>
              <div class="gfh-filter-container">
                <div class="gfh-select-all">
                  <label class="gfh-checkbox">
                    <input type="checkbox" id="selectAll1" onclick="toggleAllGFH('formMedicamento')"> Seleccionar todos
                  </label>
                </div>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="VASDP"> VASDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="URODP"> URODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="URGDP"> URGDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UDODP"> UDODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UCPDP"> UCPDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="UCPAD"> UCPAD</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="TRADP"> TRADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="SALDP"> SALDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="REUDP"> REUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="REHDP"> REHDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PSIDP"> PSIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PRIDP"> PRIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PEX"> PEX</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="PEDDP"> PEDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ORLDP"> ORLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ORADP"> ORADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ONCDP"> ONCDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ONCC"> ONCC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="OFTDP"> OFTDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NRLDP"> NRLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NMLDP"> NMLDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NFRDP"> NFRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NFRC"> NFRC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="NEFDP"> NEFDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MPRDP"> MPRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MINDP"> MINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="MAXDP"> MAXDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="INMDP"> INMDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HHEST"> HHEST</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HFUEN"> HFUEN</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HEMDP"> HEMDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="HEMD"> HEMD</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GINDP"> GINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GERDP"> GERDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GAUDP"> GAUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GATDP"> GATDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASH"> GASH</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASDP"> GASDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="GASC"> GASC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="FIQI"> FIQI</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="FIQDP"> FIQDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ENDDP"> ENDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="EINDP"> EINDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="EINC"> EINC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DNUDP"> DNUDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DIRDP"> DIRDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DILA"> DILA</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DIALC"> DIALC</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="DERDP"> DERDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CTODP"> CTODP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CGDDP"> CGDDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CCIDP"> CCIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CCADP"> CCADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAJE"> CAJE</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAIDP"> CAIDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CAADP"> CAADP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA40"> CA40</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA39"> CA39</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA38"> CA38</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA36"> CA36</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA26"> CA26</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA22"> CA22</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA19"> CA19</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA18"> CA18</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA15"> CA15</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA14"> CA14</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA13"> CA13</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA12"> CA12</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA11"> CA11</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA10"> CA10</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA09"> CA09</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA08"> CA08</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA07"> CA07</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA06"> CA06</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA05"> CA05</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA04"> CA04</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA03"> CA03</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA02"> CA02</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="CA01"> CA01</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ALEDP"> ALEDP</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ADOM"> ADOM</label>
                <label class="gfh-checkbox"><input type="checkbox" name="gfh_ids" value="ACVDP"> ACVDP</label>
              </div>

              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterDosisByNombreMedicamento()">Buscar</button>
            </form>
          </div>

          <div class="tab-pane fade" id="filterDosisByNombreMedicamentoAndIdPaciente" role="tabpanel"
            aria-labelledby="home-tab">
            <form name="formDosisNombreMedicamentoAndIdPaciente" method="POST"
              action="/consumos_acumulados/filterDosisByNombreMedicamentoAndIdPaciente">
              <label for="name">Insert the name of the drug:</label>
              <input list="options" id="medicamento" name="medicamento" autocomplete="off">
              <datalist id="options"></datalist>
              <script src="scriptMedicamentos.js"></script>
              <script src="/javascripts/autocompleteMedicamentos.js"></script>
              <p></p>
              <label for="name">Insert the history number:
              <input type="text" name="paciente_id" id="paciente_id"></input>
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Insert the date interval(AAAA-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">a</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>



              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterDosisByNombreMedicamentoAndIdPaciente()">Search</button>
            </form>
          </div>
          <div class="tab-pane fade" id="filterConsumosByNumHistorialFecha" role="tabpanel" aria-labelledby="home-tab">
            <form name="filterConsumosByNumHistorialFecha" method="POST"
              action="/consumos_acumulados/filterConsumosByNumHistorialFecha">
              <label for="name">Insert the patient history number: </label>
              <input type="text" name="paciente_id" id="paciente_id" required></input>
              <p></p>
              <div class="input-daterange input-group" id="datepicker">
                <label for="name">Insert the date interval(AAAA-MM-DD):</label>
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">a</span>
                <input type="text" class="input-sm form-control" name="end" />
              </div>
              <p></p>


              <p></p>
              <button type="submit" class="btn btn-primary filter-button"
                onclick="filterConsumosByNumHistorialFecha()">Search</button>
            </form>
          </div>


        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-9 col-sm-12">
        <div class="row content-info">
          <div class="page-header">
            <h1 id="tables"><i class="fas fa-chart-line"></i> ACUMULATED CONSUMABLES - STATISTICS</h1>
          </div>


          <% if (typeof start !=='undefined' && typeof end !=='undefined' ) { %>
            <div class="date-range-info col-12">
              <i class="fas fa-calendar-alt"></i> <strong>Analized date range:</strong>
              <%= new Date(start).toLocaleDateString('es-ES') %> -
                <%= new Date(end).toLocaleDateString('es-ES') %>
            </div>
            <% } %>


              <% if (dosis && dosis.length> 0) { %>
                <% const totalMedicamentos=dosis.length; const totalUnidades=dosis.reduce((sum, item)=>
                  sum + (item.sumaMedicamento || 0), 0);
                  const promedioUnidades = totalUnidades / totalMedicamentos;
                  const maxConsumo = Math.max(...dosis.map(d => d.sumaMedicamento || 0));
                  %>

                  <div class="col-md-4">
                    <div class="stat-box">
                      <i class="fas fa-pills fa-2x mb-2"></i>
                      <h3>
                        <%= totalMedicamentos %>
                      </h3>
                      <p>Diferent drugs</p>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="stat-box" style="background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);">
                      <i class="fas fa-cubes fa-2x mb-2"></i>
                      <h3>
                        <%= totalUnidades.toLocaleString() %>
                      </h3>
                      <p>Total units</p>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="stat-box" style="background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);">
                      <i class="fas fa-chart-bar fa-2x mb-2"></i>
                      <h3>
                        <%= Math.round(promedioUnidades).toLocaleString() %>
                      </h3>
                      <p>Average units of each drug</p>
                    </div>
                  </div>





                  <div class="col-12">
                    <div class="stats-card">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4><i class="fas fa-table"></i> Drug details</h4>

                      </div>

                      <div class="medication-table">
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Drug</th>
                              <th scope="col">Units</th>
                              <th scope="col">Percenteil</th>
                              <th scope="col">% Sum</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% let acumulado=0; dosis.sort((a, b)=> (b.sumaMedicamento || 0) - (a.sumaMedicamento ||
                              0)).forEach(function(item, index) {
                              const percentage = ((item.sumaMedicamento / totalUnidades) * 100).toFixed(2);
                              acumulado += parseFloat(percentage);
                              %>
                              <tr>
                                <td><strong>
                                    <%= index + 1 %>
                                  </strong></td>
                                <td>
                                  <span class="badge badge-custom badge-secondary">
                                    <%= item._id %>
                                  </span>
                                </td>
                                <td><strong>
                                    <%= item.sumaMedicamento.toLocaleString() %>
                                  </strong></td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentage %>"
                                      aria-valuemin="0" aria-valuemax="100">
                                      <%= percentage %>%
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <%= acumulado.toFixed(2) %>%
                                </td>
                              </tr>
                              <% }); %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th colspan="2">TOTAL</th>
                              <th>
                                <%= totalUnidades.toLocaleString() %>
                              </th>
                              <th>100%</th>
                              <th>-</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>

                  <!-- Análisis adicional -->
                  <div class="col-md-6">
                    <div class="stats-card">
                      <h4><i class="fas fa-medal"></i> Most bought drug</h4>
                      <div class="text-center">
                        <h2 class="text-primary">
                          <%= dosis[0]._id %>
                        </h2>
                        <p class="lead">
                          <%= dosis[0].sumaMedicamento.toLocaleString() %> unidades
                        </p>
                        <p class="text-muted">
                          Representa el <%= ((dosis[0].sumaMedicamento / totalUnidades) * 100).toFixed(2) %>% del total
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="stats-card">
                      <h4><i class="fas fa-info-circle"></i> Análisis de Concentración</h4>
                      <% const top5Sum=dosis.slice(0, 5).reduce((sum, item)=> sum + item.sumaMedicamento, 0);
                        const top5Percentage = ((top5Sum / totalUnidades) * 100).toFixed(2);
                        %>
                        <div class="mt-3">
                          <p><strong>Top 5 drugs:</strong></p>
                          <div class="progress mb-2" style="height: 30px;">
                            <div class="progress-bar" role="progressbar">
                              <%= top5Percentage %>% del total
                            </div>
                          </div>
                          <p class="text-muted">The top 5 drugs are:
                            <%= top5Percentage %>% del consumo total
                          </p>
                        </div>
                    </div>
                  </div>

                  <% } else { %>
                    <div class="col-12">
                      <div class="alert alert-info text-center" role="alert">
                        <i class="fas fa-info-circle fa-3x mb-3"></i>
                        <h4>No data available</h4>
                        <p>Select teh filters and click SEARCH</p>
                      </div>
                    </div>
                    <% } %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".pacient-alert").fadeOut({ duration: 3000 });
      $('div.input-daterange').datepicker({
        format: 'yyyy-mm-dd'
      });

      // Animar las barras de progreso
      setTimeout(function () {
        document.querySelectorAll('.progress-bar').forEach(function (bar) {
          const width = bar.getAttribute('aria-valuenow');
          bar.style.width = width + '%';
        });
      }, 100);
    });

    // ========================================
    // FUNCIONES AUXILIARES
    // ========================================
    function generateColors(count) {
      const colors = [];
      for (let i = 0; i < count; i++) {
        const hue = (i * 360 / count) % 360;
        colors.push(`hsl(${hue}, 70%, 60%)`);
      }
      return colors;
    }

    function exportToCSV() {
      // Implementar exportación a CSV
      const table = document.querySelector('.medication-table table');
      let csv = [];
      const rows = table.querySelectorAll('tr');

      for (let i = 0; i < rows.length; i++) {
        const row = [], cols = rows[i].querySelectorAll('td, th');
        for (let j = 0; j < cols.length; j++) {
          let data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ');
          data = data.replace(/"/g, '""');
          row.push('"' + data + '"');
        }
        csv.push(row.join(','));
      }

      const csvFile = new Blob([csv.join('\n')], { type: 'text/csv' });
      const downloadLink = document.createElement('a');
      downloadLink.download = 'consumos_acumulados.csv';
      downloadLink.href = window.URL.createObjectURL(csvFile);
      downloadLink.style.display = 'none';
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    }

    // ========================================
    // GENERAR GRÁFICOS
    // ========================================
    document.addEventListener('DOMContentLoaded', function () {
      if (dosis && dosis.length > 0) {
        const medicationData = JSON.stringify(dosis);

        // Ordenar por suma de medicamento
        medicationData.sort((a, b) => b.sumaMedicamento - a.sumaMedicamento);

        // ========================================
        // GRÁFICO DE BARRAS (Top 15)
        // ========================================
        const top15 = medicationData.slice(0, 15);
        const barLabels = top15.map(d => d._id);
        const barValues = top15.map(d => d.sumaMedicamento);

        const ctxBar = document.getElementById('medicationBarChart');
        if (ctxBar) {
          new Chart(ctxBar, {
            type: 'bar',
            data: {
              labels: barLabels,
              datasets: [{
                label: 'Unidades Dispensadas',
                data: barValues,
                backgroundColor: 'rgba(102, 126, 234, 0.6)',
                borderColor: 'rgba(102, 126, 234, 1)',
                borderWidth: 2
              }]
            },
            options: {
              indexAxis: 'y',
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: { display: true, position: 'top' },
                tooltip: {
                  callbacks: {
                    label: function (context) {
                      return context.dataset.label + ': ' + context.parsed.x.toLocaleString() + ' unidades';
                    }
                  }
                }
              },
              scales: {
                x: {
                  beginAtZero: true,
                  ticks: {
                    callback: function (value) {
                      return value.toLocaleString();
                    }
                  }
                }
              }
            }
          });
        }

        // ========================================
        // GRÁFICO CIRCULAR (Top 10 + Otros)
        // ========================================
        const top10 = medicationData.slice(0, 10);
        const others = medicationData.slice(10);

        const pieLabels = top10.map(d => d._id);
        const pieValues = top10.map(d => d.sumaMedicamento);

        const othersSum = others.reduce((acc, d) => acc + d.sumaMedicamento, 0);
        if (othersSum > 0) {
          pieLabels.push('Otros');
          pieValues.push(othersSum);
        }

        const ctxPie = document.getElementById('medicationPieChart');
        if (ctxPie) {
          new Chart(ctxPie, {
            type: 'doughnut',
            data: {
              labels: pieLabels,
              datasets: [{
                data: pieValues,
                backgroundColor: generateColors(pieLabels.length)
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  position: 'right',
                  labels: {
                    boxWidth: 15,
                    padding: 10,
                    font: { size: 11 }
                  }
                },
                tooltip: {
                  callbacks: {
                    label: function (context) {
                      const total = context.dataset.data.reduce((a, b) => a + b, 0);
                      const percentage = ((context.parsed / total) * 100).toFixed(2);
                      return context.label + ': ' + context.parsed.toLocaleString() + ' (' + percentage + '%)';
                    }
                  }
                }
              }
            }
          });
        }

        // ========================================
        // GRÁFICO DE LÍNEA (Top 10)
        // ========================================
        const ctxLine = document.getElementById('medicationLineChart');
        if (ctxLine) {
          new Chart(ctxLine, {
            type: 'line',
            data: {
              labels: top10.map(d => d._id),
              datasets: [{
                label: 'Unidades',
                data: top10.map(d => d.sumaMedicamento),
                borderColor: 'rgb(102, 126, 234)',
                backgroundColor: 'rgba(102, 126, 234, 0.1)',
                tension: 0.4,
                fill: true
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: { display: true },
                tooltip: {
                  callbacks: {
                    label: function (context) {
                      return 'Unidades: ' + context.parsed.y.toLocaleString();
                    }
                  }
                }
              },
              scales: {
                y: {
                  beginAtZero: true,
                  ticks: {
                    callback: function (value) {
                      return value.toLocaleString();
                    }
                  }
                }
              }
            }
          });
        }

      }
    });
  </script>

</body>

</html>